<div>

<p>
  <strong>ユーザー:</strong>
  <%= @refrigerator.user %>
</p>

<p>
  <strong>食品名:</strong>
  <%= @refrigerator.name %>
</p>

<p>
  <strong>量:</strong>
  <%= @refrigerator.quantity %>
</p>

<p>
  <strong>経過日数:</strong>
  <%= @refrigerator.purchase %>
</p>

<p>
  <strong>賞味期限:</strong>
  <%= @refrigerator.deadline %>
</p>

<p>
  <strong>release:</strong>
  <%= @refrigerator.release %>
</p>

<%= link_to '編集', edit_refrigerator_path(@refrigerator) %> |
<%= link_to '戻る', refrigerators_path %>
</div>