<div>
	<%= render 'shared/donuts_header' %>
</div>
<div>
	<div class="donut_detail">
		<h1><strong><%= @donut.title %></strong></h1>
	</div>
	<div class="donut_detail">
		<%= donut_image_tag @donut , width: 250 %>
	</div>
	<div class="donut_detail">
		<h3>材料</h3>
	</div>
	<div class="donut_detail">
		<%= simple_format(@donut.material) %>
	</div>
	<div class="fab_emphasize">
	<% if Fab.find_by(donut_id: @donut.id, user_id: current_user.id) %>
		<h3><strong><%= link_to 'お気に入りからはずす', unfab_donut_path(@donut) %></strong></h3>
	<% else %>
		<h3><strong><%= link_to 'お気に入りに追加', fab_donut_path(@donut) %></strong></h3>
	<% end %>
	</div>
</div>