<!DOCTYPE html>
<html>
<head>
  <title>とうふれ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex,nofollow">
  <!-- ビューポートの設定 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- スタイルシートの読み込み -->
  <link href="modal.css" rel="stylesheet">
</head>
<body>
  <div id="wrapper">
	<header>
    <nav>
    <div id="modal-content">
      <p>
        <a id="modal-close" class="button-link"><%= image_tag("close.png") %></a>
      </p>
      <% if user_signed_in? %>
        <table class="modal_table">
          <tr>
            <td><%= link_to image_tag('user.png'), top_show_path %></td>
            <td><%= link_to image_tag('refrigerator.png'), refrigerators_path %></td>
          </tr>
          <tr>
            <td><%= link_to image_tag('share_board.png'), bulletin_boards_path %></td>
            <td><%= link_to image_tag('recipe.png'), donuts_path %></td>
          </tr>
          <tr>
            <td><%= link_to image_tag('event.png'), events_path %></td>
          </tr>
        </table>
        <br />
      <% end %>
      <!-- モーダルウィンドウのコンテンツ終了 -->
    </div>
    <p>
      <a id="modal-open">
        <%= image_tag("modal.png", :class => "modalimage", :align => 'left') %>
      </a>
        <%= link_to image_tag("banner.png", :class => "bannerimage", :align => 'center'), root_path %>
        <%= link_to image_tag('logout.png', :class => "logoutimage", :align => 'right'), destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %>
    </p>
    <!-- ここまでモーダルウィンドウ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="modal.js"></script>
    </nav>
  </header>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
  <main id="contents" >
    <%= yield %>
  </main>
  </div>
</body>
</html>